/.vs/PlatformGame/BlueprintCache/PlatformGame.json
/.vs/PlatformGame/CopilotIndices/18.5.39194.52559/CodeChunks.db
/.vs/PlatformGame/CopilotIndices/18.5.39194.52559/CodeChunks.db-shm
/.vs/PlatformGame/CopilotIndices/18.5.39194.52559/CodeChunks.db-wal
/.vs/PlatformGame/CopilotIndices/18.5.39194.52559/SemanticSymbols.db
/.vs/PlatformGame/DesignTimeBuild/.dtbcache.v2
/.vs/PlatformGame/FileContentIndex/02ce7a5b-fdbd-4cf0-9942-27d302e0de16.vsidx
/.vs/PlatformGame/FileContentIndex/5db41065-a98b-4857-a142-544837711bf0.vsidx
/.vs/PlatformGame/FileContentIndex/6ec1e497-b62b-49a2-9d7c-e3e037fbfada.vsidx
/.vs/PlatformGame/FileContentIndex/7c471027-0138-4e29-b642-0ffc49bc5b55.vsidx
/.vs/PlatformGame/FileContentIndex/7d4dffcc-ed62-4f6d-983a-de3671c1633c.vsidx
/.vs/PlatformGame/FileContentIndex/8a255320-d597-4134-a4a6-dedb95d57fdc.vsidx
/.vs/PlatformGame/FileContentIndex/12a61bbd-8041-4fe4-a6cc-582a357853bc.vsidx
/.vs/PlatformGame/FileContentIndex/013d07f2-87d8-41d0-b8ba-b5a7b6fd72a5.vsidx
/.vs/PlatformGame/FileContentIndex/15afd164-58fe-4948-91a8-a448cd14216d.vsidx
/.vs/PlatformGame/FileContentIndex/97ee1938-7bb1-4f2b-9f20-14b9d9728eb7.vsidx
/.vs/PlatformGame/FileContentIndex/697f3a3b-f84c-47ed-b38b-061e73ef6f8a.vsidx
/.vs/PlatformGame/FileContentIndex/9705b1da-a1a8-46f6-9406-74e874fe805f.vsidx
/.vs/PlatformGame/FileContentIndex/64783dbe-63da-4a14-b5c7-5e80a48ebc14.vsidx
/.vs/PlatformGame/FileContentIndex/73893f49-aeab-4742-b1f7-14fb9bf0e0db.vsidx
/.vs/PlatformGame/FileContentIndex/77023bfd-7893-4897-87d0-afb6ea1371aa.vsidx
/.vs/PlatformGame/FileContentIndex/492003c4-d909-4664-965d-d407d6560cd6.vsidx
/.vs/PlatformGame/FileContentIndex/97258722-3378-4e9c-b792-b868fbfe7c08.vsidx
/.vs/PlatformGame/FileContentIndex/97298411-3623-4a55-bd5c-82ae3f14ca7d.vsidx
/.vs/PlatformGame/FileContentIndex/af6adff2-ad38-4b60-994e-472e4a1375cc.vsidx
/.vs/PlatformGame/FileContentIndex/e2b56fd3-a29d-4742-adb9-5ddb82787727.vsidx
/.vs/PlatformGame/FileContentIndex/e7cf65c0-4f8c-4359-8009-10c0a8b72b98.vsidx
/.vs/PlatformGame/FileContentIndex/e1290aea-5f78-4668-af8f-ff6e7e1fa15a.vsidx
/.vs/PlatformGame/FileContentIndex/edd77971-2b3e-468b-ac57-0cebd41ab1f0.vsidx
/.vs/PlatformGame/FileContentIndex/f5f8c37b-d1ac-4c6f-a3ca-74e02587072c.vsidx
/.vs/PlatformGame/FileContentIndex/f7589d60-130e-4b98-90c1-af1d2ac6de9e.vsidx
/.vs/PlatformGame/FileContentIndex/fb36ec87-ee8d-4dbd-b666-6a5cf06022c4.vsidx
/.vs/PlatformGame/v17/.suo
/.vs/PlatformGame/v18/ipch/6283870fe52562a1.ipch
/.vs/PlatformGame/v18/.futdcache.v2
/.vs/PlatformGame/v18/.suo
/.vs/PlatformGame/v18/Browse.VC.db
/.vs/PlatformGame/v18/DocumentLayout.backup.json
/.vs/PlatformGame/v18/DocumentLayout.json
/.vs/PlatformGame/v18/fileList.bin
/.vs/PlatformGame/v18/Solution.VC.db
/.vs/ProjectEvaluation/platformgame.metadata.v10.bin
/.vs/ProjectEvaluation/platformgame.projects.v10.bin
/.vs/ProjectEvaluation/platformgame.strings.v10.bin
